.vercel
.DS_Store
Thumbs.db
assets/bwbeach.jpg
assets/camera.jpg
assets/chain.jpg
assets/coast.jpg
assets/coat.jpg
assets/hands.jpg
assets/hands2.jpg
assets/laugh.jpg
assets/p-camel.jpg
assets/portrait.jpg
assets/ring-a.jpg
assets/smile.jpg
assets/stairs.jpg
assets/walk.jpg
